<?xml version="1.0"?>
<config>
    <modules>
       <Eupago_Multibanco>
          <version>1.0.1</version>
       </Eupago_Multibanco>
    </modules>
    <global>
		<blocks>
			<multibanco>
				<class>Eupago_Multibanco_Block</class>
			</multibanco>
			<checkout>
                <rewrite>
                    <onepage_success>Eupago_Multibanco_Block_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
		</blocks>
        <models>
            <multibanco>
                <class>Eupago_Multibanco_Model</class>
            </multibanco>
        </models>
		<events>
			<sales_order_place_after>
				<observers>
					<namespace_module_order_observer>
						<type>singleton</type>
						<class>multibanco/observer</class>
						<method>pendingPaymentState</method>
					</namespace_module_order_observer>
				</observers>
			</sales_order_place_after>
			<sales_order_invoice_save_after>
				<observers>
					<namespace_module_order_observer>
						<type>singleton</type>
						<class>multibanco/observer</class>
						<method>sendInvoiceEmail</method>
					</namespace_module_order_observer>
				</observers>
			</sales_order_invoice_save_after>
		</events>
    </global>
	<frontend>
		<routers>
			<Eupago_Multibanco>
				<use>standard</use>
				<args>
					<module>Eupago_Multibanco</module>
					<frontName>Eupago</frontName>
				</args>
			</Eupago_Multibanco>
		</routers>
		<layout>
            <updates>
                <mymodule>
                    <file>eupago_multibanco.xml</file>
                </mymodule>
            </updates>
        </layout>
	</frontend>
    <default>
        <payment>
            <multibanco>
                <active>1</active>
                <model>multibanco/multibanco</model>
                <order_status>1</order_status>
                <login backend_model="adminhtml/system_config_backend_encrypted"/>
                <order_status>pending</order_status>
                <title>Eupago Multibanco</title>
                <cgi_url>https://seguro.eupago.pt/eupagov7.wsdl</cgi_url>
                <debug>0</debug>
				<payment_action>order</payment_action>
            </multibanco>
         </payment>
    </default>
</config>