<?xml version="1.0"?>
<config>
    <modules>
        <Eupago_Multibanco>
            <version>1.0.0</version>
        </Eupago_Multibanco>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Eupago_Multibanco>
                    <files>
                        <default>Eupago_Multibanco.csv</default>
                    </files>
                </Eupago_Multibanco>
            </modules>
        </translate>
		<layout>
			<updates>
				<yourmodule>
					<file>multibanco.xml</file>
				</yourmodule>
			</updates>
		</layout>
		<routers>
            <Eupago_Multibanco>
                <use>standard</use>
                <args>
                    <module>Eupago_Multibanco</module>
                    <frontName>Eupago</frontName>
                </args>
            </Eupago_Multibanco>
        </routers> 
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Eupago_Multibanco>
                    <files>
                        <default>Eupago_Multibanco.csv</default>
                    </files>
                </Eupago_Multibanco>
            </modules>
        </translate>
    </adminhtml>   
    <global>		
        <fieldsets>
            <sales_convert_quote_payment>
                <eupago_entidade>
                    <to_order_payment>*</to_order_payment>
                </eupago_entidade>
                <eupago_referencia>
                    <to_order_payment>*</to_order_payment>
                </eupago_referencia>
                <eupago_montante>
                    <to_order_payment>*</to_order_payment>
                </eupago_montante>
            </sales_convert_quote_payment>
			
            <sales_convert_order_payment>
                <eupago_entidade>
                    <to_quote_payment>*</to_quote_payment>
                </eupago_entidade>
                <eupago_referencia>
                    <to_quote_payment>*</to_quote_payment>
                </eupago_referencia>
                <eupago_montante>
                    <to_quote_payment>*</to_quote_payment>
                </eupago_montante>
            </sales_convert_order_payment>
        </fieldsets>
        <models>
            <multibanco>
                <class>Eupago_Multibanco_Model</class>
                <resourceModel>multibanco_mysql4</resourceModel>
            </multibanco>
            <sales>
                <rewrite>
                    <convert_order>Eupago_Multibanco_Model_Convert_Order</convert_order>
                    <convert_quote>Eupago_Multibanco_Model_Convert_Quote</convert_quote>                    
                </rewrite>
            </sales>		
            <multibanco_mysql4>
                <class>Eupago_Multibanco_Model_Mysql4</class>
                <entities>
                    <multibanco>
                        <table>eupago</table>
                    </multibanco>
                </entities>
            </multibanco_mysql4>
        </models>
        <resources>
            <multibanco_setup>
                <setup>
                    <module>Eupago_Multibanco</module>
                    <class>Eupago_Multibanco_Model_Mysql4_Setup</class>					
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multibanco_setup>
            <multibanco_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </multibanco_write>
            <multibanco_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </multibanco_read>
        </resources>
        <blocks>
            <multibanco>
                <class>Eupago_Multibanco_Block</class>
            </multibanco>
			<checkout>
				<rewrite>
					<checkout_onepage_success>Eupago_Multibanco_Block_Success</checkout_onepage_success>
				</rewrite>
			</checkout>
        </blocks>
        <helpers>
            <multibanco>
                <class>Eupago_Multibanco_Helper</class>
            </multibanco>
        </helpers>
        <sales>
            <order>
                <statuses>
                    <aguarda_pagamento_multibanco translate="label">
                        <label><![CDATA[MB - Aguarda Pagamento]]>
                        </label>
                    </aguarda_pagamento_multibanco>
                </statuses>
                <states>
                    <new>
                        <statuses>
                            <aguarda_pagamento_multibanco/>
                        </statuses>
                    </new>
                </states>
            </order>
        </sales>
        <events>
            <sales_order_save_after> 
                <observers>
                    <payone_save_status>
                        <type>singleton</type>
                        <class>multibanco/process</class>
                        <method>orderObserver</method>
                    </payone_save_status>
                </observers>
            </sales_order_save_after>
        </events>
       
    </global>

    <default>
                   
        <payment>
            <multibanco>                
                <active>0</active>               
                <model>multibanco/gerarRef</model>          	
                <title>Multibanco</title>
                <sort_order>1</sort_order>
                <allowspecific>0</allowspecific>
                <chave></chave>
                <mensagem>Pagamento por Multibanco</mensagem>
                <payment_action>order</payment_action>
            </multibanco>
        </payment>
    </default> 
</config>